.Productlist{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr ;
    gap: 20px 10px;
    margin-top: 20px;
    padding: 30px;
}

h2 {
    padding: 20px 20px 0;
    text-align: center;
    margin-bottom: 0;
}

@media all and (min-width: 500px) {
    .Productlist {
        grid-template-columns:repeat(1, 1fr);
        gap: 10px 10px;
    }
    h2{
        font-size: 40px;
    }
}
@media all and (min-width: 700px) {
    .Productlist {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (min-width: 992px) {
    .Productlist {
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
        max-width: 80%;
        gap: 50px 30px;
    }
}