.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 91%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 8px;
    left: 2%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    overflow: auto;
    max-height: 500px;
}

@media (min-width: 600px) {
    .Modal {
        width: 700px;
        left: calc(50% - 350px);
        padding: 16px;
    }
}